# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://lxzojlmnndvodcyulwvu.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Admin — email del usuario administrador (determina quién tiene rol admin al loguearse)
ADMIN_EMAIL=

# App
NEXT_PUBLIC_SITE_URL=http://localhost:3000
